{{!-- <h1>{{title}}</h1>
{{#if hasError}}
<p class="not-found">{{error}}</p>
{{/if}}

{{#if noError}}
{{#each ReviewList}}
<ul class="media-list">
    <li class="media">
        <a href="#" class="pull-left">
            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
        </a>
        <div class="media-body">
            {{!-- <span class="text-muted pull-right">
                <small class="text-muted">{{this.date}}</small>
            </span> --}}
            <strong class="text-success">{{this.user_emailId}}</strong>
            <strong class="text-success_stars">{{this.stars}} /5</strong>
            <p>
                {{this.comment}}
            </p>
        </div>
    </li>
</ul>
{{/each}}

{{/if}}
<a href="/writeReview">Click here to write a review</a> --}}
