{{!-- <div class = "menu form-menu">
    <div class = "menu-body">
        <h3 class = "menu-title">Menu</Menu></h3>

    </div>
</div> --}}
<div class="some-align">

    {{#if errMsg}}
        <p>{{errMsg}}</p>
    {{/if}}

    <br>
    <h1 class="centered">Menu</h1>
    <br>

    <div class="list-group menu">
        {{#each food}} 
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h4>{{this.name}}</h4>
                        <p>{{this.description}}</p>
                        <p class="price">${{this.price}}</p>
                        {{!-- <form method="GET" action="/uploadMenu/{{this._id}}">
                            <button class="btn btn-primary" type="submit" value="{{this._id}}">Open</button>
                        </form>
                        <br> --}}
                        <form method="GET" action="//uploadMenu/{{this._id}}">
                            <button class="btn btn-primary" type="submit" value="{{this._id}}">Add to Cart</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        <img src="../{{this.imagepath}}" class="imagealign">
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
