
<div class="some-align">

    {{#if errMsg}}
        <p>{{errMsg}}</p>
    {{/if}}

    <br>
    <h1 class="centered">Menu</h1>
    <br>

    <div class="list-group menu">
        {{#each food}}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>{{this.name}}</h2>
                        <p>{{this.description}}</p>
                        <p class="price">${{this.price}}</p>
                        {{!-- <form method="GET" action="/uploadMenu/{{this._id}}">
                            <button class="btn btn-primary" type="submit" value="{{this._id}}">Open</button>
                        </form>
                        <br> --}}
                        
                        {{#if ../auth}}
                            <form method="POST" action="/order/create/{{this._id}}">
                                <button class="btn btn-primary" type="submit" value="{{this._id}}">Add to Cart</button>
                            </form>
                        {{else}}
                            <a href="/login" class="btn btn-dark">Log In to Order</a>
                        {{/if}}
                        
                    </div>
                    <div class="col-sm">
                        <img src="../{{this.imagepath}}" alt="MenuItem" height = "140" width = "200" class="imagealign">
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
