{{!-- <div class = "menu form-menu">
    <div class = "menu-body">
        <h3 class = "menu-title">Menu</Menu></h3>
        
    </div>
</div> --}}
<div class="some-align">

    {{#if errMsg}}
        <p>{{errMsg}}</p>
    {{/if}}

    <br>
    <h1>Menu</h1>
    <br>

    <div class="list-group menu">
        {{#each food}}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <img src="../{{this.imagepath}}" class="imagealign">
            <label>{{this.name}}</label><br>
            <form method="GET" action="/uploadMenu/{{this._id}}">
                <button type="submit" value="{{this._id}}">Open</button>
            </form>
            <form method="GET" action="//uploadMenu/{{this._id}}">
                <button type="submit" value="{{this._id}}">Add to the Cart</button>
            </form>
            {{!-- <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small> --}}
        </div>
        {{/each}}
    </div>





    {{!-- {{# if this.img}} --}}
    <div class="border">
        <img src="../{{this.imagepath}}" class="imagealign">
        <label>{{this.name}}</label><br>
        <form method="GET" action="/uploadMenu/{{this._id}}">
            <button type="submit" value="{{this._id}}">Open</button>
        </form>
        <form method="GET" action="//uploadMenu/{{this._id}}">
            <button type="submit" value="{{this._id}}">Add to the Cart</button>
        </form>
    </div>
    {{!-- {{/if}} --}}
</div>
